* {padding: 0; margin: 0; font-family: "Trebuchet MS", Helvetica, sans-serif}

body, html {height: 100%; }

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: auto repeat(5, 1fr) .1fr;
	grid-template-rows: auto 1fr 1fr auto;
	grid-template-areas: 
    "n h h h h h h"
    "n b1 b2 b3 b4 b5 ."
	"n b6 b7 b8 b9 b10 ."
	"n f f f f f f"; 
	gap:3em 3em;
	
}

header {
	grid-area: h;
	justify-self:center;
	border-bottom: 3px solid #4998D2;
	margin-top:1%;
	font-size:1.25em;
}

#b1 {
	grid-area: b1;
}

#b2 {
	grid-area: b2;
}

#b3 {
	grid-area: b3;
}

#b4 {
	grid-area: b4;
}

#b5 {
	grid-area: b5;
}
#b6 {
	grid-area:b6;
}
#b7 {
	grid-area:b7;
}
#b8 {
	grid-area:b8;
}
#b9 {
	grid-area:b9;
}
#b10 {
	grid-area:b10;
}


nav { 
	grid-area: n;
	background-color: #f1f1f1;
	font-size:1.25em;
}

nav ul {list-style-type: none;}

nav a {
display: block; 
text-decoration: none; 
color: black; 
padding: 10% 1em;
}

.active {
  background-color: #4998D2;
  color: white;  
}

.not-active:hover  {
  background-color: #4998D2;
}

#book_icon {height:5em; width:5em; padding: 10% 3.5em;}

footer {
	grid-area: f;
	justify-self: center;
}

.books {
	border: 2.5px solid ;
	padding:.5em;
	min-width:100%;
	min-height:100%;
	text-align:center;
}

.books {font-size:1.2em;}
.books:hover {background-color: #4998D2; color:white;}

.title { color:#4998D2; font-size:1.75em;}

.author {
	padding: 4% 0;
}

.cover {
	height:50%;
	width:50%;
}