* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #f3eff5;
}
/************************************CONTENT****************************************/
.page-wrapper {
  font-size: 1rem;
  line-height: 1.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.coverpage-wrapper {
  background-color: #0a0a0a;
  width: 100%;
  height: calc(100vh - 60px);
  padding: 0 max(40px, 4%);
  padding-bottom: 60px; /*to center content*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
}
.coverpage-text {
  min-width: 300px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.coverpage-subheader {
  display: flex;
  align-items: center;
  gap: 16px;
}
.cashapp-logo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
h1 {
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
}
h2 {
  width: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 2.125em;
  line-height: 1.5em;
  text-transform: capitalize;
}
.coverpage-image {
  display: none;
  width: 500px; 
}
.coverpage-image img {
  width: 100%;
  min-width: 290px;
  object-fit: fill;
}
.section-wrapper {
  width: 100%;
  min-height: 100vh;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 150px;
}
section {
  width: 100%;
  padding: 0 max(40px, 4%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.text-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 64px;
  min-width: 300px;
  max-width: 500px;
}
.text-section h3 {
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 400; /*semi-bold*/
  text-transform: uppercase;
}
#design, #solution {
  max-width: 100%;
}
.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.text-section p {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  opacity: 62.5%;
  line-height: 2em;
}
.exception {
  text-transform: lowercase;
}
.problem-image {
  width: auto;
  margin-left: 18%;
}
.problem-image img {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  object-fit: fill;
}
.research-image {
  width: 105%;
}
.research-image img {
  width: 100%;
  min-width: 300px;
  object-fit: fill;
}
.design-wrapper {
  background-color: #0a0a0a;
  padding-top: 64px;
  padding-bottom: 64px;
}
#design {
  color: #ffffff;
}
.design-image {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
}
.design-image img {
  width: 100%;
  object-fit: fill;
}
.design1, .design3, .design5 {
  display: none;
}
.solutions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 16px;
  row-gap: 150px;
}
.solution-image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
}
.solution-image-wrapper img {
  width: 275px;
  object-fit: fill;
}
.solution-image-text {
  max-width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.solution-image-text h4{
  font-family: "Open Sans";
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
  color: #02B844;
}
.solution-image-text p {
  font-size: 1em;
  line-height: 2em;
  opacity: 62.5%;
}
.final-solution {
  background-color: #0a0a0a;
  color: #ffffff;
  min-height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.final-solution .text-section {
  text-align: center;
  align-items: center;
}
.hide-video {
  display: none;
}
.solution-video {
  width: 85vw;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last-section {
  padding-bottom: 150px;
}
.percent { /*THIS WOULND'T WORK FOR SOME REASON..?*/
  color: #02B844;
  font-weight: 700;
}
.collage-image {
  background-color: #0a0a0a;
  width: 100%;
}
.collage-image img {
  width: 100%;
}
.next-wrapper {
  background-color: #161615;
  padding: 80px 0;
  gap: 40px;
}
.next-image {
  width: 100%;
  block-size: auto;
  max-width: 300px;
}
.next-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.btn-wrapper {
  background-color: #C3874D;
  height: 48px; /*15px of top+bot padding*/
  width: calc(110.133px + 40px); /*20px of side padding*/
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-size: 0.875em; /*14px*/
  color: white;
  font-weight: 700;
  text-decoration: none;
}
/************************************NAVIGATION***************************************/
#navbar {
  background-color: #0a0a0a;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.4s;
  z-index: 7;
}
#hamburger-menu {
  /*menu height of 20px with top and bot padding of 20px*/
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 7px;
  position: fixed;
  right: 0;
  margin-right: 20px;
}
.line {
  background-color: #f3eff5;
  width: 24px;
  height: 2px;
  border-radius: 0.5px;
  transition: 0.4s;
}
#line2 {
  width: 17px;
  transition: 0.4s;
  transition-delay: 0.2s;
}
#nav-overlay {
  background-color: #141414;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 0.8s;
  z-index: 6;
}
.logo-wrapper {
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.logo-wrapper img {
  inline-size: auto;
  height: 100%;
  object-fit: cover;
}
#nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.nav-item {
  font-size: 1.5em; /*24px*/
  font-weight: 600;
  text-align: center;
  list-style-type: none;
  transition: 0.4s;
}
.nav-link {
  color: #f3eff5;
  text-decoration: none;
  opacity: 50%;
}
.active-link {
  opacity: 100%;
}
/*Rotate bar 1*/
.open-menu #line1 {
  transform: rotate(-43deg) translate(-3px, 8px);
  -webkit-transform: rotate(-43deg) translate(-3px, 8px);
  transition: 0.4s;
  width: 35px;
}
/*Change opacaity of bar2 to 0*/
.open-menu #line2 {
  opacity: 0;
  transition: 0s;
}
/*Rotate bar 3*/
.open-menu #line3 {
  transform: rotate(41deg) translate(-3px, -8px);
  -webkit-transform: rotate(41deg) translate(-3px, -8px);
  transition: 0.4s;
  width: 35px;
}

/************************************FOOTER***************************************/
footer {
  background-color: #0a0a0a;
  color: #f3eff5;
  height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  z-index: 2;
}
h3 {
  font-size: 2.125em;
  font-weight: 500; /*medium*/
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5em;
}
.extra-bold {
  font-weight: 800;
}
.social-media-wrapper {
  font-size: 0.875em;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.social-media-wrapper a {
  color: #f3eff5;
  text-decoration: none;
}
.copyright {
  font-size: 0.625em; /*12px*/
  text-align: center;
  color: #ffffff;
  opacity: 50%;
}
/***************************TABLET**********************/
@media only screen and (min-width: 600px) {
  .design-image {
    grid-template-columns: repeat(3, 1fr);
  }
  .design3 {
    display: block;
  }
  .design1, .design5 {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .coverpage-wrapper {
    padding: 0 max(60px, 4%);
  }
  .coverpage-image {
    display: flex;
  }
  section {
    padding: 0 max(60px, 4%);
  }
  .text-section {
    min-width: 325px;
  }
  .row-layout {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .problem-image {
    display: flex;
    justify-content: end;
    margin-left: 0;
  }
  .problem-image img {
    min-width: 300px;
  }
  .research-image {
    width: 100%;
  }
  .design-image {
    grid-template-columns: repeat(4, 1fr);
  }
  .design5 {
    display: block;
  }
  .solutions {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
  }
  .solution-image-wrapper img {
   width: 250px;
  }
  .next-image {
    max-width: 400px;
  }
 /************************************NAVIGATION***************************************/
  #hamburger-menu {
    margin-right: max(60px, 4%);
  }
  .logo-wrapper {
    height: 30px;
    margin-left: max(60px, 4%);
  }
  /************************************FOOTER***************************************/
  footer {
    height: calc(100vh - 60px);
    row-gap: 60px;
  }
  h3 {
    font-size: 2.375em;
  }
  .extra-bold::before {
    content: "\A";
    white-space: pre;
  }
  .social-media-wrapper {
    row-gap: 30px;
  }
}
/***************************DESKTOP**************************/
@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  .coverpage-wrapper, section {
    padding: 0 max(80px, 4%);
  }
  .text-section {
    max-width: 500px;
  }
  .problem-image img {
    width: 500px;/*define for desktop*/
  }
  .research-image {
    max-width: 900px;
  }
  .design-image {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1024px;
    column-gap: 32px;
  }
  .design1 {
    display: block;
  }
  .solutions {
    grid-template-columns: repeat(3, 1fr);
  }
    .solution-image-wrapper img {
      width: 250px;
    }
    .solution-image-text {
      max-width: ;
    }
    .solution-image-text h4{
      font-size: 1.33em;
    }
    .solution-image-text p {
      font-size: .88em;
      line-height: 2em;
    }
    .collage-image {
     height: 80vh;
    }
  /************************************NAVIGATION***************************************/
  #navbar {
    z-index: 6;
  }
  #nav-overlay {
    background-color: #0a0a0a;
    width: auto;
    height: 60px;
    right: 0;
    transition: 0s;
    margin-right: max(80px, 4%);
  }
  #nav-menu {
    flex-direction: row;
    gap: 0 40px;
  }
  .nav-item {
    font-size: 14px;
    transition: 0s;
  }
  #hamburger-menu {
    display: none;
  }
  .nav-item:nth-child(1) {
    display: none;
  }
  .logo-wrapper {
    margin-left: max(80px, 4%);
  }
  /************************************FOOTER***************************************/
  h3 {
    font-size: 2.875em; /*Added .25*2 = .5px*/
  }
  footer {
    row-gap: 80px;
  }
}
/***********************************LARGE DESKTOP****************************************/
@media only screen and (min-width: 1440px) {
  .solutions {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "sol1 sol2 sol3 sol4"
    ". sol5 sol6 ." ;
  }
  .solution1 {
    grid-area: sol1;
  }
  .solution2 {
    grid-area: sol2;
  }
  .solution3 {
    grid-area: sol3;
  }
  .solution4 {
    grid-area: sol4;
  }
  .solution5 {
    grid-area: sol5;
  }
  .solution6 {
    grid-area: sol6;
  }
    .solution-image-wrapper img {
      width: 250px;
    }
    .solution-image-text h4{
      font-size: 1.25em;
    }
    .solution-image-text p {
      font-size: .875em;
      line-height: 1.75em;
    }
    .next-image {
      max-width: 600px;
    }
}
/***********************************EXTRALARGE DESKTOP****************************************/
@media only screen and (min-width: 1920px) {

}
