:root {
  --background-color: #060606;
  --white-background: #fdfbfb;
  --accent_color: #c3874d;
  --white: #ffffff;
}
/*EFFECTS EVERY PARENT ELEMENT*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--background-color);
  position: relative;
  width: 100%; /*vw makes it extend off screen*/
  height: 100%;
}
.mobile-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px; /*row gap + column gap*/
}
.side-padding {
  padding: 0 20px;
}
.page-padding {
  padding: 40px 20px;
}

/********************************************LANDING PAGE***********************************************/
/*Header*/
.header {
  background-color: var(--background-color);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 5;
}
/*logo*/
#logo {
  font-size: 1.5em; /*24px*/
  font-weight: 500;
  z-index: 2;
  grid-area: logo;
}
#logo-link {
  color: #ffffff;
  text-decoration: none;
  transition: 0.35s;
  transition-delay: 0.25s;
}
/*Navigation Menu & Items*/
#nav-overlay {
  background-color: var(--background-color);
  width: 100%;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-menu {
  line-height: 2.5rem;
  text-align: center;
}

.nav-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  opacity: 50%;
}

#active-link {
  opacity: 100%;
  color: var(--accent_color);
}

/*hamburger menu*/
.line {
  height: 2.332px;
  width: 25px;
  border-radius: 5px;
  background-color: var(--white);
}

#line1 {
  transition: 0.35s;
  transition-delay: 0.25s;
}

#line2 {
  margin: 5.002px auto;
  transition: 0.25s;
  transition-delay: 0.35s;
}

#line3 {
  transition: 0.35s;
  transition-delay: 0.25s;
}
/*Hamburger Menu Animaiton*/
/*Rotate bar 1*/
.open-menu #line1 {
  transform: rotate(-40deg) translate(-3.5px, 6.5px);
  -webkit-transform: rotate(-40deg) translate(-3.5px, 6.5px);
  transition: 0.5s;
  opacity: 50%;
  height: 2.75px;
  width: 27px;
}

/*Change opacaity of bar2 to 0*/
.open-menu #line2 {
  opacity: 0;
  transition: 0s;
}

/*Rotate bar 3*/
.open-menu #line3 {
  transform: rotate(40deg) translate(-3.5px, -6.5px);
  -webkit-transform: rotate(40deg) translate(-3.5px, -6.5px);
  transition: 0.5s;
  opacity: 50%;
  height: 2.75px;
  width: 27px;
}

/********************************************LOGO OVERLAY***********************************************/
#logo-overlay {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#logo-overlay-text {
  color: var(--accent_color);
}

/********************************************CONNECT PAGE***********************************************/
/*PAGE WRAPPER*/
.page-wrapper {
  min-height: 100%;
  margin-bottom: -40px;
}

/*Contact Wrapper*/
.contact-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /*MAIN AXIS ~ y-axis*/
  align-items: center;
  background-image: url("landing-page-images/hero-image-tinted-copy.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
/*contact content wrapper*/
.content-wrapper {
  background-color: ;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

/*connect header*/
.connect-header {
  font-size: 1.75em; /*28px*/
  font-weight: 700; /*bold*/
  letter-spacing: 2.5px;
  text-align: left;
}

/*connect text wrapper*/
.connect-txt-wrapper {
  font-weight: 350; /*semi-bold*/
  line-height: 30px;
}
/*ALL LINKS*/
a {
  font-size: 1em; /*16px*/
  color: #ffffff;
  font-weight: 350; /*semi-bold*/
  text-decoration: none;
}
/*Social Media Icons*/
.social-media-icons {
  width: max-content;
  height: 30px; /*CHANGE WHEN YOU WANT TO RESIZE SOCIAL MEIDA ICONS*/
  grid-area: social;
  display: flex;
}
/*Instagram icon*/
.instagram-wrapper {
  width: 30px;
  height: 100%;
  background-color: var(--accent_color);
  border-radius: 5px;
  padding: 0.75%;
}
.instagram-logo {
  width: auto;
  height: 100%;
}
.logo-wrapper {
  width: auto;
  height: 100%;
}
/*YouTUbe icon*/
.youtube {
  margin: 0 25px;
}
.youtube-logo {
  width: auto;
  height: 100%;
}
/*Linkeden icon*/
.linkedin {
  position: relative;
}
.linkedin-white-background {
  background-color: #ffffff;
  width: 80%;
  height: 85%;
  border-radius: 5px;
  position: absolute;
  top: 2%;
  left: 2%;
  right: 0;
  z-index: 1;
}
.linkedin-logo {
  width: auto;
  height: 100%;
  position: relative;
  z-index: 2;
}
/********************************************FOOTER**********************************************/

/*pusher element*/
.push-footer {
  height: 40px;
}
/*FOOTER WRAPPER*/
.footer-wrapper {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*Footer Text*/
.footer-text {
  font-size: 0.75em; /*14px*/
  font-weight: 550;
  color: #828282;
}
/*Footer Text */
.bold-footer-text {
  color: #ffffff;
}
