* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", Open Sans, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  background-color: #f4f4f4;
  color: #000000;
}
/************************************CONTENT****************************************/
.page_wrapper {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 160px;
  position: relative;
  top: 60px;
}
section {
  width: 100%;
  padding: 0 max(40px, 4%);
  display: flex;
  flex-direction: column;
  align-items: center; /* y-axis*/
  justify-content: center;/*x-axis*/
  position: relative;/*DELETE MAYBE*/
  gap: 40px; /*Gap between text and content*/
}
.text_section {
  font-family: "Domine";
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  line-height: 2em;
  align-items: start;
}
p { opacity: 65%;}
.second_paragraph {
  margin-top: -20px;
}
h1, h2, h3, h4 {
  font-size: 1em;
  font-weight: 400;/*REGULAR*/
  line-height: 1em;
  text-transform: capitalize;
}
h1 {
  font-size: 2.5em;
  font-weight: 700; /*BOLD*/
  line-height: 1.25em;
}
h2 {
  font-family: "Cormorant";
  font-size: 2em; /*was 1.875*/
  font-weight: 700; /*BOLD*/
  line-height: 1.25em;
}
h4 {
  font-size: .875em;
  text-transform: uppercase;
}
.cover_section {
  min-height: calc(100vh - 60px);
  background-color: #1C1C1C;
  overflow-x: hidden;
  margin-bottom: -160px;
}
.white_background {
  background-color: #f4f4f4;
  width: 100%;
  z-index: 2;
  height: 43%;
  position: absolute;
  bottom: 0;
}
.cover_image, .solution_image{
  width: 100%;
  max-width: 800px; /*DECIDE LATER*/
  block-size: auto;
  z-index: 3;
}
.cover_image img {
  width: 100%;
  min-width: 125px; 
  object-fit: fill
}
.cover2 {
  display: none;
}
.section_image{
  width: 100%;
  max-width: 400px; /*DECIDE LATER*/
  block-size: auto;
  z-index: 1;
}
.section_image img {
  width: 100%;
  min-width: 150px; 
  object-fit: fill;
}
.solution_image img {
  width: 100%;
  min-width: 150px; 
  object-fit: fill;
}
.only_text {
  max-width: 600px;
  align-items: start;
}
.solution_image_section {
  background-color: #1C1C1C;
  color: #ffffff;
  margin-bottom: -160px;
  padding-top: 160px;
}
.solution_image_section h2 {
  text-transform: none;
}
.solution_image {
  display: none;
}
.show {
  display: block;
}
.insight_section {
  background-color: #1c1c1c;
  color: #ffffff;
  min-height: calc(100vh - 60px);
  margin-bottom: -160px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.collage {
  background-color: #161615;
  width: 100%;
  max-height: calc(100vh - 60px);
  block-size: auto;
  z-index: 1;
  margin-bottom: -160px;
}
.collage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.project_section {
  width: 100%;
  height: 225vh;
  padding-top: 80px;
  padding-bottom: 80px;
}
.project_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: normal;
  justify-content: normal;
  gap: 40px;
}
.projects {
  width: 100%;
  max-width: 380px;
  height: 100%;
  display: flex;
  align-items: end;
  background-position: center;
  background-size: cover;
  place-self: center;
}
.project_text {
  background-color: #0a0a0a;
  font-family: sans-serif;
  color: #ffffff;
  opacity: 85%;
  width: 100%;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.project_name {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.25em;
  opacity: 100%;
}
.button {
  width: min-content;
  font-size: .875em;
  font-weight: 700;
  line-height: 1em;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 100%;
}
.project1 {
  background-image: url("Other/Global Entry-background.png");
}
.project2 {
  background-image: url("Enel X/enel_background.png");
}
.project3 {
  display: none;
  background-image: url("Miranda Holliday/miranda_dark_background.png");
}
.project4 {
 background-image: url("Cash App/cashapp_background.png");
}
.global {
  background-color: #0D4169;
}
.enelx {
  background-color: #9146ff;
}
.cashapp {
  background-color: #01B844;
}
.miranda {
  background-color: #C3874D;
}
/*.homes {
  background-color: #F2BB06;
}*/
/************************************NAVIGATION***************************************/
#navbar {
  background-color: #0a0a0a;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  transition: top 0.4s;
  z-index: 7;
}
#hamburger-menu {
  /*menu height of 20px with top and bot padding of 20px*/
  width: 30px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 7px;
  position: fixed;
  right: 0;
  margin-right: 20px;
}
.line {
  background-color: #f3eff5;
  width: 24px;
  height: 2px;
  border-radius: 0.5px;
  transition: 0.4s;
}
#line2 {
  width: 17px;
  transition: 0.4s;
  transition-delay: 0.2s;
}
#nav-overlay {
  background-color: #141414;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  transition: 0.8s;
  z-index: 6;
}
.logo-wrapper {
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  margin-left: 20px;
}
.logo-wrapper img {
  inline-size: auto;
  height: 100%;
  object-fit: cover;
}
#nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.nav-item {
  font-size: 1.5em; /*24px*/
  font-weight: 600;
  text-align: center;
  list-style-type: none;
  transition: 0.4s;
}
.nav-link {
  font-family: "Montserrat", Open Sans, sans-serif;
  color: #f3eff5;
  text-decoration: none;
  opacity: 50%;
  transition: .8s;
}
.hide-nav-link {
  opacity: 0;
  pointer-events: none;  
  transition: 0.4s;      
}
.active-link {
  opacity: 100%;
}
/*Rotate bar 1*/
.open-menu #line1 {
  transform: rotate(-43deg) translate(-3px, 8px);
  -webkit-transform: rotate(-43deg) translate(-3px, 8px);
  transition: 0.4s;
  width: 35px;
}
/*Change opacaity of bar2 to 0*/
.open-menu #line2 {
  opacity: 0;
  transition: 0s;
}
/*Rotate bar 3*/
.open-menu #line3 {
  transform: rotate(41deg) translate(-3px, -8px);
  -webkit-transform: rotate(41deg) translate(-3px, -8px);
  transition: 0.4s;
  width: 35px;
}
/************************************FOOTER***************************************/
footer {
  font-family: "Montserrat";
  background-color: #0a0a0a;
  color: #f3eff5;
  height: 100vh;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  z-index: 2;
}
h5 {
  font-family: "Montserrat";
  font-size: 2.125em;
  font-weight: 400; /*medium*/
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5em;
}
.extra-bold {
  font-weight: 800;
}
.social-media-wrapper {
  font-size: 0.875em;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.social-media-wrapper a {
  color: #f3eff5;
  text-decoration: none;
}
.copyright {
  font-size: 0.625em; /*12px*/
  text-align: center;
  color: #ffffff;
  opacity: 50%;
}
/***************************TABLET**********************/
@media only screen and (min-width: 600px) {
  section {
    padding: 0 max(60px, 4%);
  }
  .text_section {
    align-items: center; 
    text-align: center;
  }
  .cover1 {
    display: none;
  }
  .cover2 {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .cover_logo {
    max-width: 175px;
  }
  .text_section {
    align-items: start;
    text-align: left;
  }
  .only_text {
    align-items: center; 
    text-align: center;
  }
  .row_layout {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .reverse_row_layout {
    flex-direction: row-reverse;
    gap: 40px;
  }
  .section_image {
    min-width: 300px;
  }
  .solution_image {
    min-width:;
  }
  .project_section {
    height: calc(100vh - 60px);
  }
  .project_wrapper {
    max-width: max-content;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
  }
  .projects {
    max-width: 405.75px;
    max-height: min(70%, 530px);
  }
 /************************************NAVIGATION***************************************/
  #hamburger-menu {
    margin-right: max(60px, 4%);
  }
  .logo-wrapper {
    height: 30px;
    margin-left: max(60px, 4%);
  }
  /************************************FOOTER***************************************/
  footer {
    height: calc(100vh - 60px);
    row-gap: 60px;
  }
  h5 {
    font-size: 2.375em;
  }
  .extra-bold::before {
    content: "\A";
    white-space: pre;
  }
  .social-media-wrapper {
    row-gap: 32px;
  }
}
/***************************DESKTOP**************************/
@media only screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
  section {
    padding: 0 max(80px, 4%);
  }
  .row_layout, .reverse_row_layout {
    gap: 80px;
  }
  .cover_section {
    margin-bottom: -80px;
  }
  
  /************************************NAVIGATION***************************************/
  #navbar {
    z-index: 6;
  }
  #nav-overlay {
    background-color: #0a0a0a;
    width: auto;
    height: 60px;
    right: 0;
    transition: 0s;
    margin-right: max(80px, 4%);
  }
  #nav-menu {
    flex-direction: row;
    gap: 0 40px;
  }
  .nav-item {
    font-size: 14px;
    transition: 0s;
  }
  #hamburger-menu {
    display: none;
  }
  .nav-item:nth-child(1) {
    display: none;
  }
  .logo-wrapper {
    margin-left: max(80px, 4%);
  }
  .nav-link {
    opacity: 50%;
    transition: 0s;
    pointer-events: auto;
  }
  /************************************FOOTER***************************************/
  h5 {
    font-size: 3.125em; /*Added .25*2 = .5px*/
  }
  footer {
    row-gap: 80px;
  }
}
/***********************************LARGE DESKTOP****************************************/
@media only screen and (min-width: 1440px) {
  .page_wrapper {
    gap: 240px;
  }
  h2 {
    font-size: 2.5em;
  }
  section {
    padding: 0 max(80px, 4%);
    gap: 80px;  
  }
  .cover_image, .solution_image {
    max-width: 1000px;
  }
  .solution_image_section, .insight_section, .collage {
    margin-bottom: -240px;
  }
  .project_section {
    margin-bottom: -240px;
  }
}
/***********************************EXTRALARGE DESKTOP****************************************/
@media only screen and (min-width: 1800px) { /*changed from 1920px for img*/
}
@media only screen and (min-width: 1920px) { /*changed from 1920px for img*/
  .cover_logo {
    max-width: 200px;
  }
  .solution_image {
    max-width: 1200px;
  }
}




