* {padding: 0; margin: 0; font-family: "Trebuchet MS", Helvetica, sans-serif}

body, html {height: 100%;}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: .3fr 1.25fr 3fr 1.25fr;
	grid-template-rows: auto 1fr 2fr auto;
	grid-template-areas: 
    "n h h h"
    "n . r ."
	"n l m q"
	"n f f f"; 
}


header {
	grid-area: h;
	justify-self:center;
	border-bottom: 3px solid #4998D2;
	margin:1.25% 0;
	font-size:1.em;
}

h2{color:#4998D2;}

#what {
	grid-area:r;
	font-size: 1.4em; 
	padding:2em 2em;
}

#what p{margin-top:1em;}

#hand {
	grid-area:l;
	height:100%;
	width:100%;
	align-self:center;
}

#hand2 {
	grid-area:q;
	height:100%;
	width:100%;
	align-self:center;
}

#challenge h2{ font-size:1.4em;}

main {
	grid-area:m;
	font-size: 1.4em;
	padding:0 2em;
	text-align:center;
}

#why h2 {text-align:center;}
#why {text-align:left; padding: 1em 0; margin-bottom:1.25em;}

main p{margin:.75em 0; }

nav { 
	grid-area: n;
	background-color: #f1f1f1;
	font-size:1.25em;
}

nav ul {list-style-type: none;}

nav a {
display: block; 
text-decoration: none; 
color: black; 
padding: 10% 1em;
}

.active {
  background-color: #4998D2;
  color: white;  
}

.not-active:hover  {
  background-color: #4998D2;
}

#book_icon {height:5em; width:5em; padding: 15% 3.5em;}

footer {
	grid-area: f;
	justify-self: center;
}