* {padding: 0; margin: 0;}

body, html {height: 100%;}

.grid-container {
	height: 100%;
	display: grid;
	grid-template-columns: .3fr 2fr;
	grid-template-rows: auto .5fr 1fr auto;
	grid-template-areas: 
    "n h"
    "n v"
	"n c"
	"n f"; 
}

header {
	grid-area: h;
	font-size: 1.25em;
	border-bottom:2px solid #4998D2;
}

#vid {grid-area:v; text-align:center; padding-top:1.5em;}
#cited {grid-area:c;}

div ul {list-style-type: none;}

div a {
display: block; 
text-decoration: none; 
color: black; 
}

nav { 
	grid-area: n;
	background-color: #f1f1f1;
	font-size:1.25em;
}

nav ul {list-style-type: none;}

nav a {
display: block; 
text-decoration: none; 
color: black; 
padding: 10% 1em;
}

.active {
  background-color: #4998D2;
  color: white;  
}

.not-active:hover  {
  background-color: #4998D2;
}

#book_icon {height:5em; width:5em; padding: 15% 3.5em;}

footer {
	grid-area: f;
	justify-self: center;
}

h3 {text-align:center; font-size:1.75em; padding: 5% 0 .75% 0;}

#cited li {
	line-height:2.5em ; 
	font-size:1.25em;
	text-align:center;
}